.header

.main
  .main__header
    商品内容の確認
  .main__content
    .main__content__date
      .item
        
      .vslue
        .item-name
          商品名
        .item-date
          .item-value
            ¥2,500円
          .item-tax
            (税込み) 送料込み
  .main__buy
    .main__buy__content
      .main__buy__content__value
        .left
          支払い金額
        .rigth
          ¥2,500円
      .main__buy__content__point
        ポイントを使用
      .main__buy__content__method
        .method
          支払い方法
        .log-in
          = link_to "#", class: "log-in" do
            登録してください
      .main__buy__content__address
        .address
          配送先
        .log-in
          = link_to "#", class: "log-in" do
            登録してください
      .main__buy__content__btn
        .note
          %Pこの商品はゆうゆうメルカリ便をしようしているため、   
          %Pアプリのみ購入できます。
        .buy-btn
          = link_to "#", class: "btn" do
            購入ボタン
        .instore-nav
          %Pアプリをお持ちでに方は以下よりインストールして   
          %pご利用頂けます。
        .appli
          %a.app{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?35314277"}/
          %a.google{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?35314277"}/
          




.footer
