.header

.main
  .main__header
    商品内容の確認
  .main__content
    .main__content__date
      .item
        
      .vslue
        .item-name
          商品名
        .item-date
          .item-value
            ¥2,500円
          .item-tax
            (税込み) 送料込み
  .main__buy
    支払い情報


.footer
