.header

.main
  .main__header
    商品内容の確認
  .main__content
    .main__content__date
      .item
        
      .vslue
        .item-name
          商品名
        .item-date
          .item-value
            ¥2,500円
          .item-tax
            (税込み) 送料込み
  .main__buy
    .main__buy__content
      .main__buy__content__value
        .left
          支払い金額
        .rigth
          ¥2,500円
      .main__buy__content__point
        ポイントを使用
      .main__buy__content__method
        .method
          支払い方法
        %a.log-in{:href => "#"}
          = "登録してください"
      .main__buy__content__address
        .address
          配送先
        %a.log-in{:href => "#"}
          = "登録してください"
      .main__buy__content__btn
        .note
          %Pこの商品はゆうゆうメルカリ便をしようしているため、   
          %Pアプリのみ購入できます。
        .buy-btn
          購入ボタン
        .instore-nav
          %Pアプリをお持ちでに方は以下よりインストールして   
          %pご利用頂けます。
        .app
          ここにはアプリボタンを配置する




.footer
