.header

.main
  .main__content
    .main__content__base
      .main__content__base__header
        発送元・お届け先住所入力
      .main__content__base__name
        .font-must
          .font
            お名前
          .must
            必須
        .farst-name-zone
          苗字(入力)
        .secound-mane-zone
          名前(入力)
      .main__content__base__kana
        .font-must
          .font
            お名前
          .must
            必須
        .farst-name-zone
          苗字(入力)
        .secound-mane-zone
          名前(入力)
      .main__content__base__address-nunver
        .font-must
          .font
            お名前
          .must
            必須
        .zone
          入力
      .main__content__base__address-prefectures
        .font-must
          .font
            お名前
          .must
            必須
        .zone
          入力
      .main__content__base__address-city
        .font-must
          .font
            お名前
          .must
            必須
        .zone
          入力
      .main__content__base__address
        .font-must
          .font
            お名前
          .must
            必須
        .zone
          入力
      .main__content__base__address-building
        .font-must
          .font
            お名前
          .must
            必須
        .zone
          入力
      .main__content__base__tel
        .font-must
          .font
            お名前
          .must
            必須
        .zone
          入力
      .main__content__base__btn
        = link_to "#", class: "touroku" do
          登録する


.footer